{% block content %}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h5 class="m-0">Videos für {{ search }}</h5>
        </div>
        <div class="card-body">
            {% for video in videos %}

                <iframe width="320" height="180"
                        src="https://www.youtube.com/embed/{{ video.id }}"
                        title="{{ video.title }}"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
                </iframe>

            {% endfor %}
        </div>
    </div>
{% endblock %}